<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>体育</string>
	<string>论坛</string>
	<string>博客</string>
	<string>新闻</string>
	<string>微波</string>
	<string>军事</string>
	<string>关注</string>
	<string>网络</string>
	<string>大大</string>
</array>
</plist>
